@import 'variables';
.container-header {
  --flex-inline-align: space-between;
  padding: var(--space-s-l) 0;
  position: relative;
  @include breaks(large) {
    --flex-block-align: flex-start;
  }
}
// .logo {
//   grid-area: logo;
//   justify-self: flex-start;
//   align-self: flex-end;
// }
.nav-btns {
  z-index: 30;
}
.mobile-nav {
  position: fixed;
  right: 0;
  top: 0%;
  z-index: 20;
  height: 100%;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  background-color: hsla(216, 61%, 10%, 0.7);
  ul {
    --flow-space: 2em;
    padding: 12rem 1rem 0 1rem;
    text-align: right;
  }
}

.main-nav {
  max-width: 18.75rem;
}
.main-nav ul {
  --flow-space: 2em;
}

.nav-link {
  text-align: right;
  transition: color 0.5s ease-in;
  span {
    font-size: var(--step-3);
  }
  svg {
    width: 100%;
    path {
      stroke: $text-light;
    }
  }
  &:hover {
    color: #fff;
    svg path {
      stroke: #fff;
    }
  }
}

.nav-enter-active,
.nav-leave-active {
  transition: opacity 0.9s ease;
}

.nav-enter-from,
.nav-leave-to {
  opacity: 0;
}
